            <mat-card class="listado-productos-card" >
              <img mat-card-image src="{{product.img}}" width="50" height="200">

              <a [title]="product.nombre + ' details'"
                [routerLink]="['/products', product.id]">
              <mat-card-title>{{product.nombre | uppercase}}</mat-card-title>
              </a>


              <mat-card-title>Modelo: {{product.modelo}}</mat-card-title>

              <div class="price">
                <mat-card-subtitle>{{product.precio}}</mat-card-subtitle>
                <button mat-icon-button color="black" (click)="agregarCarrito(product)">
                  <mat-icon>add_shopping_cart</mat-icon>
                </button>

              </div>
            </mat-card>


