html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.mat-toolbar {
  background-color: #6495ED;
  justify-content: space-between;
  padding: 2rem;
 }

h1 {
  font-size: 1.5rem;
}
.mat-icon {
  font-size: 2.5rem;
}


.card-principal {
  background-image: url(/assets/img/led.png);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalles-producto {
  width: 70 rem;
  height: 35rem;
  display: flex;
  max-width: 80rem;
  background-color: #F0F8FF;
}

.mat-card-image:first-child {
  width: 42rem;
  height: 37rem;
}

.mat-card-header {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
   }

ul {
  margin-left: 4rem;
}

.mat-card-header .mat-card-title {
    margin-bottom: 60px;
    font-size: 2rem;
}
h2 {
  margin-left: 5rem;
  font-size: 1.5rem;
  color: red;
}
.mat-card-header .mat-card-subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
/*div.theme>button {

}*/
div.smallTheme>button {
   margin-left: 35rem;
   margin-top: 3rem;
}
