<body>
<mat-toolbar>

  <h1>Producto: Secador Profesional</h1>

  <button mat-icon-button class="example-icon" routerLink="/home">
    <h1>Atras</h1>
  </button>

  <div class="hteme">
              <button mat-icon-button color="white" routerLink="/formulario">
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
  </div>

</mat-toolbar>

<div class="card-principal">
  <mat-card class="detalles-producto">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <mat-card-content>

            <mat-card-header>
                <mat-card-title>Secador Profesional</mat-card-title>
                <h2>$52</h2>
                <mat-card-subtitle>Modelo:</mat-card-subtitle>
                <mat-card-subtitle>Caracteristicas:</mat-card-subtitle>
            </mat-card-header>
            <ul>
                <li>Potente secador de cabello de 2200 vatios con flujo de aire fuerte para resultados de secado extra rápidos incluso con cabello grueso.</li>

                <li>Tecnología cerámicaPotente secador de cabello de 2200 vatios con flujo de aire fuerte para resultados de secado extra rápidos incluso con cabello grueso.</li>

                <li>Tecnología cerámica</li>
                Con cerámica de nano-cuarzo y tecnología iónica para cabello suave después del secado.

                <li>Rizos definidos</li>
                Incluye un gran difusor para rizos naturales aún más hermosos y una boquilla de centrado para resultados de estilo sedoso.
                Con cerámica de nano-cuarzo y tecnología iónica para cabello suave después del secado.

                <li>Rizos definidos</li>
                Incluye un gran difusor para rizos naturales aún más hermosos y una boquilla de centrado para resultados de estilo sedoso.
            </ul>
                <div class="smallTheme">
                          <button mat-icon-button  color="warn" routerLink="/formulario-component">
                              <mat-icon>add_shopping_cart</mat-icon>
                          </button>
                </div>

    </mat-card-content>

  </mat-card>
</div>
</body>
