
<mat-card>
  <mat-card-content>
    <section class="example-section">
    <h2 class="example-h2">Cuánto quieres pagar?</h2>
    <mat-form-field class="example-margin" appearance="fill">
      <label>Precio:</label>
      <input matInput class="validate" [(ngModel)]="data.searchStr">

    </mat-form-field>

    </section>
   <div mat-dialog-actions>
     <button mat-button [mat-dialog-close]="data.searchStr" cdkFocusInitial>Ok</button>


      <button mat-button (click)="onNoClick()">CERRAR</button>
      </div>
  </mat-card-content>




</mat-card>







