html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.mat-toolbar {
  background-color: #6495ED;
  justify-content: space-between;
  padding: 2rem;
}

h1 {
font-size: 1.5rem;
}

.mat-icon {
font-size: 2.5rem;
}


.listado-products {

  background-image: url(/assets/img/led.png);
  display: flex;
  justify-content: center;
  display: flex;
  flex-flow: column wrap;

}

#grd{
display:none;
}

.listado-cards {
  margin-left: 10rem;
  height: 100%;
  width: 1300px;
  margin-top: -6rem;
}

 input:checked + .listado-cards {
     margin-left: 20rem;
     height: 100%;
     width: 1100px;
     margin-top: -6rem;
        }

.listado-products-grid {
margin-top: 1rem;
margin-left: 2rem;
}
.qwerty{
float:left;

}
.grid4 {
margin-left: 1rem;
}
button {
margin: 0.3rem;
width: 3rem;
height: 3rem;
}



