<body>
  <mat-toolbar>
       <h1>Listado de Productos</h1>

        <button mat-icon-button class="example-icon" routerLink="/home">
          <h1>Atras</h1>
        </button>

        <div class="hteme">
          <button mat-icon-button color="warn" routerLink="/formulario">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
  </mat-toolbar>

  <div class="listado-products">
      <div class="listado-products-grid">
        <img onclick="myFunction()" class="grid3" src="/assets/img/listtres.png" width="30" height="30">
        <img class="grid4" src="/assets/img/listquad.png" width="40" height="30">

      </div>


       <div class="listado-cards">

              <app-product-card class="qwerty" [card]="msv" *ngFor="let msv of cards" > </app-product-card>

      </div>
  </div>
</body>
