<mat-toolbar>
        <button mat-icon-button class="example-icon" routerLink="/home">
          <h1>Atras</h1>
        </button>

    <h1>Listado de Productos</h1>
        <div class="hteme">

          <button mat-icon-button color="warn" routerLink="/lista-carrito">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
</mat-toolbar>





    <div  class="listado-products">
        <div class="listado-products-grid" >



            <div class="grid">
              <label class="grid3" style="cursor:pointer"><img src="/assets/img/listtres.png" width="30" height="30" (click)="tresSelect()" ></label>
              <label class="grid4" style="cursor:pointer"><img src="/assets/img/listquad.png" width="40" height="30"(click)="cuatroSelect()"></label>
            </div>



       <h1>Presupuesto Cliente: {{precupuesto}}</h1>




            <div class="button">
              <button mat-raised-button color ="basic" (click)="openFilter()">Filtrar</button>
              <button mat-raised-button color="basic" (click)="SortBy($event)"> Ordenar</button>
              <button mat-raised-button color="basic"(click)="openTotal()">Total</button>
            </div>
        </div>



      <div class="listado-cards">
        <mat-grid-list cols="{{col}}" rowHeight="500px">
          <mat-grid-tile  *ngFor="let product of products | sort:precio | search: searchStr" >
          <app-product-card  [product]="product" (prsupuesto)="resultado($event)"> </app-product-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

