<mat-toolbar>
  <button mat-icon-button class="example-icon" routerLink="/listado-productos">
    <h1>Atras</h1>
  </button>

</mat-toolbar>

<div class="container">
  <table datatable class="row-border hover">
    <tr>
      <th mat-sort-header="nombre">Nombre</th>
      <th mat-sort-header="precio">Precio</th>
      <th mat-sort-header="cantidad">Cantidad</th>
      <th mat-sort-header="smallimg">Color</th>
    </tr>
    <tr *ngFor="let item of items">
      <td>{{item.nombre}}</td>
      <td>{{item.precio}}</td>
      <td>{{item.cantidad}}</td>
      <td>
      <img  [src]="item.img" width="100" height="100">
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <span> <i class="material-icons" (click)="Borrar()" style="cursor:pointer"> delete</i> </span>
        <mat-card-title>TOTAL: {{total}}</mat-card-title>
        <mat-card-title>Presupuesto Cliente: {{puesto}}</mat-card-title>
        <mat-card-title>TOTAL count: {{totalcount}}</mat-card-title>
      </td>
    </tr>
  </table>
</div>




