.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
background-color: white;
}

.main-card {
  background-color: #F1F5F9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-card {
/*  max-width: 400px;*/
  width: 80rem;
  height: 20rem;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
h4 {
    display: flex;
    justify-content: center;
    margin: 10rem;

}
.mat-card {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 0.5rem;

}

.mat-card-content  {
    color: #679FBC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-card-actions  {
    display: flex;
    justify-content: center;
    margin: -8rem;
}
button {
width: 15rem;
letter-spacing: 1rem;
}
