/*.example-spacer {
  flex: 1 1 auto;
}*/


.mat-toolbar {
  background-color: white;
  justify-content: space-between;
  padding: 2rem;
}
h1 {
font-size: 1.5rem;
}
.mat-icon {
font-size: 2.5rem;
}

.card-principal {
  background-color: #F1F5F9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-principal-bienvenida {
/*  max-width: 400px;*/
  width: 75rem;
  height: 20rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 0.5rem;
}

.mat-card-content  {
    color: #679FBC;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    display: flex;
    justify-content: center;
    margin: 10rem;
}
.mat-card-actions  {
    display: flex;
    justify-content: center;
    margin: -8rem;
}
button {
width: 15rem;
letter-spacing: 1rem;
}
