/*.example-spacer {
  flex: 1 1 auto;
}*/


.mat-toolbar {
  background-color: #6495ED;
  justify-content: space-between;
  padding: 2rem;
}
h1 {
font-size: 1.5rem;
 font-family: 'Kanit';
}
.mat-icon {
font-size: 2.5rem;
}

.content {
padding: 32px;
}
.card-principal {
  background-image: url(/assets/img/ledd.jpg);
  background-color: #F1F5F9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-principal-bienvenida {
/*  max-width: 400px;*/
  width: 75rem;
  height: 20rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 0.5rem;
  background-color: #F0F8FF
}

.mat-card-content  {
    color: #679FBC;
    display: flex;
    justify-content: center;
    align-items: center;

}
h2 {
font-size: 2rem;
font-family: 'Kanit';

}
h4 {
    display: flex;
    justify-content: center;
    margin: 10rem;
    font-size: 1rem;
    font-family: 'Kanit';
}
.mat-card-actions  {
    display: flex;
    justify-content: center;
    margin: -8rem;
}
button {
 width: 15rem;
 letter-spacing: 1rem;
 font-family: 'Kanit';
}
