<mat-card class="detalles-producto">
  <img mat-card-image src="{{det.img}}" width="50" height="200">
  <mat-card-content>

    <mat-card-header>
      <mat-card-title>{{det.nombre | uppercase}}</mat-card-title>
      <mat-card-subtitle>{{det.precio}}</mat-card-subtitle>
      <mat-card-subtitle>{{det.modelo}}</mat-card-subtitle>
      <mat-card-subtitle>{{det.caracteristicas}}</mat-card-subtitle>
    </mat-card-header>
    <div class="smallTheme">
      <button mat-icon-button  color="warn" routerLink="/formulario">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>

  </mat-card-content>

</mat-card>
