.detalles-producto {
  font-family: 'Kanit';
  background-color: #f2fbb5c9;
  height: 25rem;
  width: 17rem;
}
.mat-card-header .mat-card-subtitle {
    margin-top: -8px;
    font-size: 1.5rem;
    font-size: 20px;
    color: #212121;
}
.mat-icon-button i, .mat-icon-button .mat-icon {
      line-height: 24px;
      margin-top: 2rem;
}
