.mat-toolbar {
  background-color: #6495ED;
  justify-content: space-between;
  padding: 2rem;
}
h1 {
font-size: 1.5rem;
}
.mat-icon {
font-size: 2.5rem;
}

.form {
 background-image: url(/assets/img/led.png);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.example-form {
  min-width: 70rem;
  max-width: 40rem;
  padding: 2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 0.5rem;
  margin-top: -16rem;
  background-color: white;
}

.example-full-width {
  width: 100%;
}

.example-full-width2 {
  width: 50%;
}
td {
  padding-right: 8px;
}
button {
  margin-left: 54rem;
  width: 15rem;
}
