<mat-toolbar>
  <button mat-icon-button class="example-icon" routerLink="/listado-productos">
    <h1>Atras</h1>
  </button>


  <div class="hteme">
    <button mat-icon-button color="white" routerLink="/formulario">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>


<div class="card-principal">
  <div class="mat-card-content">


    <div *ngIf="product">
      <div class="img">
        <img mat-card-image src="{{product.img}}">
        <img src="{{product.img}}" width="70" height="70" (click)="Image1()">
        <img src="{{image}}" width="70" height="70" (click)="Image2()">
        <img src="{{image}}" width="70" height="70" (click)="Image3()">
      </div>











      <div class="detalles">
        <div class="detalles-title">
          <mat-card-title>{{product.nombre  | uppercase}}</mat-card-title>
          <mat-card-title>{{product.precio | currency: "€"}}</mat-card-title>
        </div>
        <div class="detalles-subtitle">
          <mat-card-subtitle>{{product.modelo}}</mat-card-subtitle>
          <mat-card-subtitle>{{product.caracteristicas}}</mat-card-subtitle>
        </div>
        <div class="smallTheme">
          <button mat-icon-button  color="warn" routerLink="/formulario">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
