<mat-toolbar>
  <button mat-icon-button class="example-icon" routerLink="/listado-productos">
    <h1>Atras</h1>
  </button>


  <div class="hteme">
    <button mat-icon-button color="white" routerLink="/lista-carrito">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>


<div class="card-principal">
  <div class="container">
    <div *ngIf="product">
      <div class="product-img">
        <img mat-card-image [src]="product.smallimg[displayedImg]" width="250" height="250" id="ProductImg">
      </div>
      <div class="detalles">
        <div class="detalles-title">
          <mat-card-title>{{product.nombre  | uppercase}}</mat-card-title>
          <mat-card-title>{{product.precio | currency: "€"}}</mat-card-title>
        </div>
        <div class="detalles-subtitle">
          <mat-card-subtitle>{{product.modelo}}</mat-card-subtitle>
          <mat-card-subtitle>{{product.caracteristicas}}</mat-card-subtitle>
        </div>
        <div class="detalles-img-row">
          <div class="detalles-img-col" *ngFor="let image of product.smallimg; let i = index">
            <img [src]="image" width="100" height="80" alt="" (click)="displayedImg = i">
          </div>
        </div>

        <div class="smallTheme">
          <button mat-icon-button color="warn" (click)="agregarCarrito(product)">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
