.mat-toolbar {
  background-color: #6495ED;
  justify-content: space-between;
  padding: 2rem;
}
h1 {
  font-size: 1.5rem;
  font-family: 'Kanit';
}
.mat-icon {
  font-size: 2.5rem;
  color: red;
}
body {
    background-color: #e2e2e2;
    font-family: 'Kanit';
}
.container {
    width: 900px;
    margin: 50px auto 0;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
/*    display: grid;
   grid-template-columns: 1fr 1fr;*/
}
.img {
    margin-right: 50px;

    height: auto;
    max-width: 100%;
}
/*.detalles {
    margin: 50px 0 10px 0;
    font-weight: 300px;
}*/
.descripcion p {
    font-size: 15px;
}
.descripcion span {
    margin-top: 15px;
    display: inline-block;
    font-weight: 600;
    font-size: 30px;
    color: #353535;
}
/*.descripcion button {
    font-size: 18px;
    padding: 15px 50px;
    margin-top: 40px;
    cursor: pointer;
    border: 0;
    outline: none;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.12);
}*/
.card-principal {
   background-image: url(/assets/img/ledd.jpg);
    background-color: #F1F5F9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mat-card-content {
  font-family: 'Kanit';
  background-color: #gold;
  width: 50rem;
  height: 25rem;
  overflow: hidden;
}
/*.img {
    max-width: 100% !important;
    height: auto;
    max-width: 100%;
}*/
.img {

    }
.mat-card-image {
    height: 25rem;
    width: 25rem;
    float: left;
    display: flex;
}
.detalles-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
}
.mat-card-title {
 margin-top: 2rem;
justify-content: space-around;
                   display: flex;
  margin-top: 1.5rem;
  overflow: hidden;
  }
.detalles-subtitle {
  flex-direction: column;
  display: flex;
}
.mat-card-subtitle {
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.smallTheme {
   margin-left: 49rem;
   margin-top: 10rem;
   justify-content: space-around;
                      display: flex;
}



