.mat-toolbar {
  background-color: #6495ED;
  justify-content: space-between;
  padding: 2rem;
}
h1 {
  font-size: 1.5rem;
  font-family: 'Kanit';
}
.mat-icon {
  font-size: 2.5rem;
  color: red;
}

.home {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card-home-principal {
  font-family: 'Kanit';
  height: 15rem;
  width: 34rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 5px #F0F0F0;
  border: 1px solid #6495ED;
  border-radius: 0.5rem;

}



