<div class="main-border">
  <mat-toolbar>
    <button  mat-icon-button class="example-icon" routerLink="/listado-productos">
      <h1>Products</h1>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/listado-ventas">
      <h1>Ventas</h1>
    </button>

    <button mat-icon-button color="warn" routerLink="/formulario">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div class="home">
  <div class="card-home-principal-total">
    <mat-card class="card-home-principal">
      <mat-card-title>{{totvent}}</mat-card-title>
      <mat-card-subtitle>Total Ventas</mat-card-subtitle>
    </mat-card>

    <mat-card class="card-home-principal">
      <mat-card-title>{{totprod}}</mat-card-title>
      <mat-card-subtitle>Total Productos</mat-card-subtitle>
    </mat-card>
  </div>

  <div class="card-home-principal-ultimas">
    <mat-card class="card-home-principal">
      <mat-card-title>20</mat-card-title>
      <mat-card-subtitle>Ultimas Compras</mat-card-subtitle>
    </mat-card>

    <mat-card class="card-home-principal">
      <mat-card-title>25</mat-card-title>
      <mat-card-subtitle>Ultimas Productos</mat-card-subtitle>
    </mat-card>
  </div>
</div>
